
.feature{
  display: flex;
  align-items: center;
}
.feature__icon{
  width: rem(45px);
  margin-right: rem(7px);
  fill: white;
}

.feature__text{
  font-size: rem(16px);
  max-width: rem(75px);
}