.footer {
  
    // flex: 0 0 auto;
  
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: rem(10px) 0 rem(15px) 0;
  flex-shrink: 1;
  // height: rem(86px);
  display: flex;
  // justify-content: space-between;
  // align-items: center;
  
}


.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  @include phones{
    flex-direction: column;
  }
}

.footer__col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
 }