.headline{
  text-align: center;
}

.headline__title{
  margin-bottom: rem(7px);
}

.headline__subtitle{
  padding: 0 26%;
  margin-bottom: rem(55px);
  line-height: rem(22px);
  
  @include phones{
    padding: 0 2%;
  }
}
