.order-section {
  position: relative;
  background: url("../img/bg/order-bg.png");

  &::before {
    content: "";
    background-image: url("../img/decor/single-leaf.png") ;
    position: absolute;

    background-size: cover;
    bottom: 100px;
    right: 0%;
    width: 135px;
    height: 188px;
    background-repeat: no-repeat;
    @include tablets{
      display: none;
    }

  }

  &::after {
    content: "";
    background-image: url("../img/decor/berry.png");
    position: absolute;
    left: 2%;
    bottom: 8%;
    width: rem(47px);
    height: rem(48px);
    background-size: cover;
    
    @include tablets{
      display: none;
    }
  }
}