.order-section {
  position: relative;
  background: url("../../img/bg/order-bg.png");

  &::before {
    content: url("../../img/decor/single-leaf.png");
    position: absolute;
    bottom: 0;
    right: 0;
    
  }

  &::after{
    content: url("../../img/decor/berry.png");
    position: absolute;
    left: 0;
    bottom: 0;
  }
}